* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

:root{
  --text-color:white ;
  --stroke-color: rgba(255,255,255,0.5);
  --bg-url: url(./assets/bg-mobile.jpg);
  --surface-color-hover: rgba(255,255,255,0.2);
  --highlight-color: rgba(255,255,255,0.2);
  --switch-bg-url: url(./assets/MoonStars.svg); 

}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0,0,0,0.5);
  --surface-color: rgba(0,0,0,0.05);
  --surface-color-hover: rgba(0,0,0,0.09);
  --highlight-color: rgba(0,0,0,0.1);
  --switch-bg-url: url(./assets/Sun.svg); 

}


body {
  /* 
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; 
  */

  /* background: color image repeat  position/size */
  background: var(--bg-url) no-repeat top center/cover ;
  
}
/* Margin: (4 separados) top right bottom left */
/* margin: (1 valor para em cima e embaixo e 1 valor para as laterais propriedades) top bottom right/left */  
/* margin: (2 valores para 2 propriedades e 1 para as laterais)top right/left bottom */
/* margin: (1 valor para as 4 propriedades)top/right/left/bottom */
#container {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: 0 24px;

  
}

#profile {
text-align: center;  
}

#profile img{
width: 108px;
margin-top: 70px;
}

#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
}

/* Switch */

#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #FFFFFF var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}

.light #switch button {
  left: initial;
  right: 0 ;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

/* Lista */

a{
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  
}

ul li a  {
  background: var(--surface-color);
  display:flex ;
  align-items: center;
  justify-content: center;
 
  text-decoration: none;
 font-weight: 500; 
 
 border: 1px solid var(--stroke-color);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
padding: 16px 24px;
border-radius: 5px 0 3px  ;

transition: background 0.3s

}

/* pseudo selector
 */

 ul li a:hover{
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
 }

 /*********/

 #social-links {
 display: flex;
 justify-content: center;
 
 padding: 24px 0;
 font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;

}

#social-links a:hover {
  background:var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-weight: 500
;
font-size: 14px; 
}

footer a{
  text-decoration: underline;
}